# Large outputs / datasets (do not commit)
*.root
*.db
*.npz
*.sh
*.pdf
*.png

# Exceptions
!analysis/*.sh
!analysis/RateAnalysis_data/*.npz
!plots/
!plots/**/*.pdf
!plots/**/*.png
!concidence/saved_coincidences/
!coincidence/selected_waveforms/saved_waveforms/
!coincidence/run_coincidences.sh  
!coincidence/run_full_pipeline_mean_wfs.sh  
!coincidence/run_plot_wfs_all.sh

# Compiled binaries
/bin/
/ml-selection-lucca/

#Python Envinroments
analysis/.venv/
