# Large outputs / datasets (do not commit)
*.root
*.db
*.npz
*.sh
*.pdf
*.png
*.csv
*.ipynb

# Exceptions
!analysis/*.sh
!analysis/RateAnalysis_data/*.npz
!plots/
!plots/**/*.pdf
!plots/**/*.png
!coincidence/*/*/*.csv
!coincidence/*.csv
!jobs_justin/decoder_selection_jobs/*.sh
!coincidence/selected_waveforms/**

# Compiled binaries
/bin/

#Python Envinroments
analysis/.venv/

# ignore ml
ml-selection-lucca/
coin_1p0v_code/
